.landing-particles::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000070;
  z-index: -1;
}

.landing-particles {
  width: 100%;
  position: fixed;
  height: 100vh;
  z-index: 0;
  background-size: cover;
  background-image: url(/imgs/background.jpg);
}
