.header {
  padding: 14px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 997;
}

.nav-menu,.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu>li {
  float: left;
}

.nav-menu li:hover>ul,.nav-menu li.sfHover>ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
  text-align: left;
}