html {
  font-family: 'Avenir', 'Arial', 'Microsoft YaHei', -apple-system, sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: white;
}

body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.app-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

@media (min-width: 576px) {
  .app-container {
      max-width:540px
  }
}

@media (min-width: 768px) {
  .app-container {
      max-width:720px
  }
}

@media (min-width: 992px) {
  .app-container {
      max-width:960px
  }
}

@media (min-width: 1200px) {
  .app-container {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px
}

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col,.col-auto,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm,.col-sm-auto,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,.col-md,.col-md-auto,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg,.col-lg-auto,.col-xl-1,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl,.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none
}

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%
}

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%
}

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%
}

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%
}

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%
}

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%
}

@media (min-width: 576px) {
  .col-sm {
      flex-basis:0;
      flex-grow: 1;
      max-width: 100%
  }

  .col-sm-auto {
      flex: 0 0 auto;
      width: auto;
      max-width: none
  }

  .col-sm-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%
  }

  .col-sm-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%
  }

  .col-sm-3 {
      flex: 0 0 25%;
      max-width: 25%
  }

  .col-sm-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%
  }

  .col-sm-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%
  }

  .col-sm-6 {
      flex: 0 0 50%;
      max-width: 50%
  }

  .col-sm-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%
  }

  .col-sm-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%
  }

  .col-sm-9 {
      flex: 0 0 75%;
      max-width: 75%
  }

  .col-sm-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%
  }

  .col-sm-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%
  }

  .col-sm-12 {
      flex: 0 0 100%;
      max-width: 100%
  }
}

@media (min-width: 768px) {
  .col-md {
      flex-basis:0;
      flex-grow: 1;
      max-width: 100%
  }

  .col-md-auto {
      flex: 0 0 auto;
      width: auto;
      max-width: none
  }

  .col-md-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%
  }

  .col-md-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%
  }

  .col-md-3 {
      flex: 0 0 25%;
      max-width: 25%
  }

  .col-md-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%
  }

  .col-md-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%
  }

  .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%
  }

  .col-md-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%
  }

  .col-md-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%
  }

  .col-md-9 {
      flex: 0 0 75%;
      max-width: 75%
  }

  .col-md-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%
  }

  .col-md-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%
  }

  .col-md-12 {
      flex: 0 0 100%;
      max-width: 100%
  }
}

@media (min-width: 992px) {
  .col-lg {
      flex-basis:0;
      flex-grow: 1;
      max-width: 100%
  }

  .col-lg-auto {
      flex: 0 0 auto;
      width: auto;
      max-width: none
  }

  .col-lg-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%
  }

  .col-lg-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%
  }

  .col-lg-3 {
      flex: 0 0 25%;
      max-width: 25%
  }

  .col-lg-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%
  }

  .col-lg-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%
  }

  .col-lg-6 {
      flex: 0 0 50%;
      max-width: 50%
  }

  .col-lg-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%
  }

  .col-lg-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%
  }

  .col-lg-9 {
      flex: 0 0 75%;
      max-width: 75%
  }

  .col-lg-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%
  }

  .col-lg-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%
  }

  .col-lg-12 {
      flex: 0 0 100%;
      max-width: 100%
  }
}

@media (min-width: 1200px) {
  .col-xl {
      flex-basis:0;
      flex-grow: 1;
      max-width: 100%
  }

  .col-xl-auto {
      flex: 0 0 auto;
      width: auto;
      max-width: none
  }

  .col-xl-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%
  }

  .col-xl-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%
  }

  .col-xl-3 {
      flex: 0 0 25%;
      max-width: 25%
  }

  .col-xl-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%
  }

  .col-xl-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%
  }

  .col-xl-6 {
      flex: 0 0 50%;
      max-width: 50%
  }

  .col-xl-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%
  }

  .col-xl-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%
  }

  .col-xl-9 {
      flex: 0 0 75%;
      max-width: 75%
  }

  .col-xl-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%
  }

  .col-xl-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%
  }

  .col-xl-12 {
      flex: 0 0 100%;
      max-width: 100%
  }
}

.btn {
  color: #fff;
  background-color: #1b1b1b;
  border-color: #2d2d2d;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .25s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover {
  background-color: #fff;
  color: #1b1b1b;
  transform: translateY(-1px);
  box-shadow: 5px 10px 20px 0px rgba(255, 255, 255, 0.45);
}

.btn:focus {
  outline-color: #495057
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.fire {
  font-size: 28px;
  filter: blur(0.02em);
  -webkit-filter: blur(0.02em);
  width: 2px;
  height: 4px;
  top: -2px;
  left: -1px;
  position: fixed;
  z-index: 99;
  pointer-events: none;
}

.particle {
  animation: rise 1.2s ease-in infinite;
  background-image: radial-gradient(#050505 20%, rgba(10, 10, 10, 0.1) 70%);
  border-radius: 50%;
  mix-blend-mode: screen;
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 10px;
}
.particle:nth-of-type(1) {
  animation-delay: 0.1265138899s;
  left: calc((100% - 10px) * 0);
}
.particle:nth-of-type(2) {
  animation-delay: 0.0082719362s;
  left: calc((100% - 10px) * 0.02);
}
.particle:nth-of-type(3) {
  animation-delay: 0.8834826143s;
  left: calc((100% - 10px) * 0.04);
}
.particle:nth-of-type(4) {
  animation-delay: 0.5084302281s;
  left: calc((100% - 10px) * 0.06);
}
.particle:nth-of-type(5) {
  animation-delay: 0.8289339527s;
  left: calc((100% - 10px) * 0.08);
}
.particle:nth-of-type(6) {
  animation-delay: 0.6354496573s;
  left: calc((100% - 10px) * 0.1);
}
.particle:nth-of-type(7) {
  animation-delay: 0.6788646525s;
  left: calc((100% - 10px) * 0.12);
}
.particle:nth-of-type(8) {
  animation-delay: 0.4631641828s;
  left: calc((100% - 10px) * 0.14);
}
.particle:nth-of-type(9) {
  animation-delay: 0.5425172115s;
  left: calc((100% - 10px) * 0.16);
}
.particle:nth-of-type(10) {
  animation-delay: 1.1308084436s;
  left: calc((100% - 10px) * 0.18);
}
.particle:nth-of-type(11) {
  animation-delay: 0.7132986862s;
  left: calc((100% - 10px) * 0.2);
}
.particle:nth-of-type(12) {
  animation-delay: 0.6736068442s;
  left: calc((100% - 10px) * 0.22);
}
.particle:nth-of-type(13) {
  animation-delay: 0.2551220368s;
  left: calc((100% - 10px) * 0.24);
}
.particle:nth-of-type(14) {
  animation-delay: 1.0720860614s;
  left: calc((100% - 10px) * 0.26);
}
.particle:nth-of-type(15) {
  animation-delay: 0.3099699816s;
  left: calc((100% - 10px) * 0.28);
}
.particle:nth-of-type(16) {
  animation-delay: 1.0955106932s;
  left: calc((100% - 10px) * 0.3);
}
.particle:nth-of-type(17) {
  animation-delay: 1.1858833655s;
  left: calc((100% - 10px) * 0.32);
}
.particle:nth-of-type(18) {
  animation-delay: 0.0038752115s;
  left: calc((100% - 10px) * 0.34);
}
.particle:nth-of-type(19) {
  animation-delay: 0.8754902989s;
  left: calc((100% - 10px) * 0.36);
}
.particle:nth-of-type(20) {
  animation-delay: 0.4938409555s;
  left: calc((100% - 10px) * 0.38);
}
.particle:nth-of-type(21) {
  animation-delay: 1.049192264s;
  left: calc((100% - 10px) * 0.4);
}
.particle:nth-of-type(22) {
  animation-delay: 0.1682767298s;
  left: calc((100% - 10px) * 0.42);
}
.particle:nth-of-type(23) {
  animation-delay: 0.1210052994s;
  left: calc((100% - 10px) * 0.44);
}
.particle:nth-of-type(24) {
  animation-delay: 0.7064392354s;
  left: calc((100% - 10px) * 0.46);
}
.particle:nth-of-type(25) {
  animation-delay: 1.1947103208s;
  left: calc((100% - 10px) * 0.48);
}
.particle:nth-of-type(26) {
  animation-delay: 0.2808041198s;
  left: calc((100% - 10px) * 0.5);
}
.particle:nth-of-type(27) {
  animation-delay: 0.6582579904s;
  left: calc((100% - 10px) * 0.52);
}
.particle:nth-of-type(28) {
  animation-delay: 0.9317899544s;
  left: calc((100% - 10px) * 0.54);
}
.particle:nth-of-type(29) {
  animation-delay: 0.8882398884s;
  left: calc((100% - 10px) * 0.56);
}
.particle:nth-of-type(30) {
  animation-delay: 0.4566039954s;
  left: calc((100% - 10px) * 0.58);
}
.particle:nth-of-type(31) {
  animation-delay: 0.2874961488s;
  left: calc((100% - 10px) * 0.6);
}
.particle:nth-of-type(32) {
  animation-delay: 0.8506750328s;
  left: calc((100% - 10px) * 0.62);
}
.particle:nth-of-type(33) {
  animation-delay: 0.7988646183s;
  left: calc((100% - 10px) * 0.64);
}
.particle:nth-of-type(34) {
  animation-delay: 0.0888952324s;
  left: calc((100% - 10px) * 0.66);
}
.particle:nth-of-type(35) {
  animation-delay: 0.351647351s;
  left: calc((100% - 10px) * 0.68);
}
.particle:nth-of-type(36) {
  animation-delay: 0.7991259469s;
  left: calc((100% - 10px) * 0.7);
}
.particle:nth-of-type(37) {
  animation-delay: 0.9145789291s;
  left: calc((100% - 10px) * 0.72);
}
.particle:nth-of-type(38) {
  animation-delay: 0.0562115396s;
  left: calc((100% - 10px) * 0.74);
}
.particle:nth-of-type(39) {
  animation-delay: 1.0534092658s;
  left: calc((100% - 10px) * 0.76);
}
.particle:nth-of-type(40) {
  animation-delay: 0.5049590117s;
  left: calc((100% - 10px) * 0.78);
}
.particle:nth-of-type(41) {
  animation-delay: 0.3493382521s;
  left: calc((100% - 10px) * 0.8);
}
.particle:nth-of-type(42) {
  animation-delay: 1.1634266261s;
  left: calc((100% - 10px) * 0.82);
}
.particle:nth-of-type(43) {
  animation-delay: 0.4166137921s;
  left: calc((100% - 10px) * 0.84);
}
.particle:nth-of-type(44) {
  animation-delay: 0.7577533751s;
  left: calc((100% - 10px) * 0.86);
}
.particle:nth-of-type(45) {
  animation-delay: 0.5380412216s;
  left: calc((100% - 10px) * 0.88);
}
.particle:nth-of-type(46) {
  animation-delay: 0.8031434772s;
  left: calc((100% - 10px) * 0.9);
}
.particle:nth-of-type(47) {
  animation-delay: 0.5167682214s;
  left: calc((100% - 10px) * 0.92);
}
.particle:nth-of-type(48) {
  animation-delay: 0.931908237s;
  left: calc((100% - 10px) * 0.94);
}
.particle:nth-of-type(49) {
  animation-delay: 0.7661768331s;
  left: calc((100% - 10px) * 0.96);
}
.particle:nth-of-type(50) {
  animation-delay: 0.1010767617s;
  left: calc((100% - 10px) * 0.98);
}

@keyframes rise {
  from {
    opacity: 0;
    transform: translateY(0) scale(1);
  }
  25% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-40px) scale(0);
  }
}

.landing-particles::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000070;
  z-index: -1;
}

.landing-particles {
  width: 100%;
  position: fixed;
  height: 100vh;
  z-index: 0;
  background-size: cover;
  background-image: url(/imgs/background.jpg);
}

.header {
  padding: 14px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 997;
}

.nav-menu,.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu>li {
  float: left;
}

.nav-menu li:hover>ul,.nav-menu li.sfHover>ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
  text-align: left;
}
.home-caption {
  position: relative;
}

.home-logo-wrapper {
  position: fixed;
  top: 30px;
  left: 30px;
}

.logo {
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/android-chrome-192x192.png);
  display: block;
}

.inner-circle {
  top: -20px;
  left: -20px;
  background-color: transparent;
  border-left: 43px solid transparent;
  border-right: 43px solid transparent;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  position: absolute;
  -moz-animation: spinoffPulse 5s infinite linear;
  -webkit-animation: spinoffPulse 5s infinite linear;
}

.inner-circle:hover {
  -moz-animation: spinoffPulse 1s infinite linear;
  -webkit-animation: spinoffPulse 1s infinite linear;
}
  
@-moz-keyframes spinoffPulse {
  0% { -moz-transform:rotate(0deg); }
  100% { -moz-transform:rotate(360deg);  }
}

@-webkit-keyframes spinoffPulse {
  0% { -webkit-transform:rotate(0deg); }
  100% { -webkit-transform:rotate(360deg); }
}

.caption-section {
  flex-direction: column;
  display: flex;
  overflow: hidden;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.home-subtitle {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
}

.home-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
  font-weight: 700;
}

.home-headline-section {
  text-align: center;
  font-size: 18px;
  padding: 15px 15px 100px;
}

.tech-image {
  display: block;
  height: 300px;
  width: 100%;
  max-width: 600px;
  background-image: url(/imgs/tech.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.send-btn {
  width: 100%;
  margin-top: 5px;
}

@media screen and (max-width: 991px) {
  .home-title {
    font-size:34px;
    line-height: 38px
  }
}

@media screen and (max-width: 767px) {
  .home-title {
    font-size:26px;
    line-height: 30px
  }
}

.footer-area {
  padding-bottom: 25px;
  background: #00000075;
}

.footer-area h6 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
}

.copy-right-text i,.copy-right-text a {
  color: #3bacf0
}

.footer-social a {
  padding-right: 25px;
  transition: all 0.3s ease 0s;
}

.footer-social a:hover i {
  color: #3bacf0;
}

.footer-social i {
  color: #cccccc;
  transition: all 0.3s ease 0s;
}

@media (max-width: 991.98px) {
  .footer-social {
      text-align:left;
  }
}

.fb-button, .li-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}

.fb-button:hover, .li-button:hover {
  opacity: 0.8;
}

.fb-button{
  background-image: url(/imgs/facebook.png);
}

.li-button {
  background-image: url(/imgs/linkedin.png);
}


/*# sourceMappingURL=styles.chunk.css.map*/