.home-caption {
  position: relative;
}

.home-logo-wrapper {
  position: fixed;
  top: 30px;
  left: 30px;
}

.logo {
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/android-chrome-192x192.png);
  display: block;
}

.inner-circle {
  top: -20px;
  left: -20px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-left: 43px solid transparent;
  border-right: 43px solid transparent;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  position: absolute;
  -moz-animation: spinoffPulse 5s infinite linear;
  -webkit-animation: spinoffPulse 5s infinite linear;
}

.inner-circle:hover {
  -moz-animation: spinoffPulse 1s infinite linear;
  -webkit-animation: spinoffPulse 1s infinite linear;
}
  
@-moz-keyframes spinoffPulse {
  0% { -moz-transform:rotate(0deg); }
  100% { -moz-transform:rotate(360deg);  }
}

@-webkit-keyframes spinoffPulse {
  0% { -webkit-transform:rotate(0deg); }
  100% { -webkit-transform:rotate(360deg); }
}

.caption-section {
  flex-direction: column;
  display: flex;
  overflow: hidden;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.home-subtitle {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
}

.home-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
  font-weight: 700;
}

.home-headline-section {
  text-align: center;
  font-size: 18px;
  padding: 15px 15px 100px;
}

.tech-image {
  display: block;
  height: 300px;
  width: 100%;
  max-width: 600px;
  background-image: url(/imgs/tech.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.send-btn {
  width: 100%;
  margin-top: 5px;
}

@media screen and (max-width: 991px) {
  .home-title {
    font-size:34px;
    line-height: 38px
  }
}

@media screen and (max-width: 767px) {
  .home-title {
    font-size:26px;
    line-height: 30px
  }
}

.footer-area {
  padding-bottom: 25px;
  background: #00000075;
}

.footer-area h6 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
}

.copy-right-text i,.copy-right-text a {
  color: #3bacf0
}

.footer-social a {
  padding-right: 25px;
  transition: all 0.3s ease 0s;
}

.footer-social a:hover i {
  color: #3bacf0;
}

.footer-social i {
  color: #cccccc;
  transition: all 0.3s ease 0s;
}

@media (max-width: 991.98px) {
  .footer-social {
      text-align:left;
  }
}

.fb-button, .li-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}

.fb-button:hover, .li-button:hover {
  opacity: 0.8;
}

.fb-button{
  background-image: url(/imgs/facebook.png);
}

.li-button {
  background-image: url(/imgs/linkedin.png);
}
